
nexe/.vs/nexe/v16/.suo
*.nlp
nexe/nexe/bin/Debug/mscorlib.dll
nexe/nexe/bin/Debug/nexe.pdb
nexe/nexe/obj/Debug/nexe.csproj.CopyComplete
nexe/nexe/obj/Debug/nexe.csproj.CoreCompileInputs.cache
nexe/nexe/obj/Debug/nexe.csproj.FileListAbsolute.txt
nexe/nexe/obj/Debug/nexe.csprojAssemblyReference.cache
nexe/nexit/obj/Debug/nexit.csproj.CoreCompileInputs.cache
nexe/nexit/obj/Debug/nexit.csproj.FileListAbsolute.txt
nexe/nexit/obj/Debug/nexit.csprojAssemblyReference.cache
nexe/nexit/obj/Debug/nexit.pdb
nexit.pdb
nexe/nexit/obj/Debug/nexit.exe
nexe/nexe/obj/Debug/nexe.pdb
nexe/nexe/obj/Debug/nexe.exe
nexe/nexe/bin/Debug/nexe.exe
nexe/nexe/obj/x64/Debug/nexe.csproj.CopyComplete
nexe/nexe/obj/x64/Debug/nexe.csproj.CoreCompileInputs.cache
nexe/nexe/obj/x64/Debug/nexe.csproj.FileListAbsolute.txt
nexe/nexe/obj/x64/Debug/nexe.csprojAssemblyReference.cache
nexe.pdb
nexe/nexe/obj/x64/Debug/nexe.exe
mscorlib.dll
